html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, a, p {
    color: #2e3d49;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

#deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.5s;
    transform-style: preserve-3d;
}

#deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    font-size: 33px;
}

#deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel #restart {
    float: right;
    cursor: pointer;
}

/*
 * Modal from w3schools: https://www.w3schools.com/howto/howto_css_modals.asp
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 20px 20px 20px;
    border: .2rem solid transparent;
    border-radius: .25rem;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 340px;
}

.modal-content .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.modal-content .stars li {
    list-style: none;
    display: inline-block;
}

.button {
    padding: 6px 12px 6px 12px;
    margin: 3% auto 2% auto;
    background-color: #02b3e4;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .2);
    border-radius: .25rem;
    color: #fff;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
    border: .13rem solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.button p {
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.button:hover {
    background-color: rgba(2, 179, 228, 0.92);
    box-shadow: 4px 5px 10px 0 rgba(46, 61, 73, .15);
}

/* Shake animation: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.shake {
    -o-animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    -moz-animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: #f04546 !important; /* Udacity's red color */
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(8px, 0, 0);
    }
}

/* RubberBand animation: https://github.com/daneden/animate.css/blob/master/source/attention_seekers/rubberBand.css */
.rubberBand {
    -o-animation: rubberBand 0.5s both;
    -moz-animation: rubberBand 0.5s both;
    -webkit-animation: rubberBand 0.5s both;
    animation: rubberBand 0.5s both;
    background: #02ccba !important;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}